<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="io.xdag.xdagwallet">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".App"
            android:allowBackup="false"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <meta-data
                android:name="android.max_aspect"
                android:value="2.4"/>

        <activity
                android:name=".activity.UsageActivity"
                android:theme="@style/AppSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:launchMode="singleTask"
                android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.WalletActivity"/>
        <activity android:name=".activity.RestoreActivity"/>
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.TranDetailActivity"/>
        <activity android:name=".activity.PoolListActivity"/>
        <activity android:name=".activity.SettingActivity"/>
    </application>

</manifest>